.Navbar{
    height: 70px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
    z-index: 200;
}
.logo{
    font-family: 'orbitron', serif;
    font-size: 28px;
    color: #007EA7;
    letter-spacing: 3px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
    align-items: center;
    height: 100%;
    padding-top: 7px;
    margin-right: 15%;
}
.nav-list h3{
    font-weight: 550;
    font-size: 20px;
    letter-spacing: 12%;
}
.Signup{
    background-color: #007EA7;
    border-radius: 5px;
    width: 7.5rem;
    height: 2.4rem;
    border: none;
    color: white;
    letter-spacing: 1px;
    margin-right: 5%;
}

.features-dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    left: -15px;
    background-color: white;
    color: black;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.dropdown-menu li {
    padding: 8px 15px;
    cursor: pointer;
    text-align: center;
}
.dropdown-menu li:hover{
    color: #007EA7;
}
.nav-link{
    color: black;
    list-style: none;
    text-decoration: none;
}
